<div class="nav-items">
  <!-- Dashboard navigation item -->
  <div class="nav-item">
    <i class="fa-solid fa-gauge"></i>
    &nbsp;<span>Dashboard</span>
  </div>

  <!-- Locations navigation item -->
  <div class="nav-item">
    <i class="fa-solid fa-location-dot"></i>
    &nbsp;<span>Locations</span>
  </div>

  <!-- Shops navigation item -->
  <div class="nav-item">
    <i class="fa-solid fa-shop"></i>
    &nbsp;<span>Shops</span>
  </div>

  <!-- Products navigation item -->
  <div class="nav-item">
    <i class="fa-solid fa-boxes-stacked"></i>
    &nbsp;<span>Products</span>
  </div>

  <!-- Sales navigation item -->
  <div class="nav-item">
    <i class="fa-solid fa-dollar-sign"></i>
    &nbsp;<span>Sales</span>
  </div>

  <!-- Statistics navigation item -->
  <div class="nav-item">
    <i class="fa-solid fa-chart-line"></i>
    &nbsp;<span>Statistics</span>
  </div>

  <!-- Contact navigation item -->
  <div class="nav-item">
    <i class="fa-solid fa-phone"></i>
    &nbsp;<span>Contact</span>
  </div>

  <!-- Help navigation item -->
  <div class="nav-item">
    <i class="fa-solid fa-handshake-angle"></i>
    &nbsp;<span>Help</span>
  </div>
</div>
