<div class="top-section">
  <app-top-widgets></app-top-widgets> <!-- This is the top section of the page which contains the app-top-widgets component -->
</div>

<div class="middle-section">
  <div class="widgetOne">
    <app-sales-by-month></app-sales-by-month> <!-- This is the first widget in the middle section which contains the app-sales-by-month component -->
  </div>
  <div class="widgetTwo">
    <app-sales-by-category></app-sales-by-category> <!-- This is the second widget in the middle section which contains the app-sales-by-category component -->
  </div>
</div>

<div class="bottom-section">
  <div class="widgetThree">
    <app-last-few-transactions></app-last-few-transactions> <!-- This is the third widget in the bottom section which contains the app-last-few-transactions component -->
  </div>
  <div class="widgetFour">
    <app-top-three-products></app-top-three-products> <!-- This is the fourth widget in the bottom section which contains the app-top-three-products component -->
  </div>
</div>

