.title{
  padding:20px;
  padding-bottom: 5px;
  text-align: center;
  color:#333333;
  font-size:18px;
  font-family: "Lucida Grande","Lucida Sans Unicode","Arial","sans-serif";
}

.transaction-wrapper {
  overflow-x: auto;
  height: 140px;
  white-space: nowrap;
}

.transaction {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid #f0f0f0;
  height:70px;
}

.image {
  width: 55px;
}

img {
  width: 45px;
  height: 45px;
  object-fit: cover;
}

.title2 {
  padding: 10px;
  font-size: 16px;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.price {
  padding: 10px;
  font-size: 16px;
  width: 90px;
}
.shop-location {
  padding: 10px;
  font-size: 16px;
  width: 190px;
}

.location {
  margin-top: 4px;
  font-size: 14px;
  color: grey;
}

.status {
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}






