.main-container {
  display: flex;
}

.side-nav {
  width: 350px;
  min-width: 230px;
  min-height: calc(100vh - 70px);
  background-color: seagreen;
  color: #fff;
  box-shadow: 5px 5px 5px #939393;
  border: 3px solid #fff;
  border-top: 0px;
}

.main {
  padding: 30px;
}
